<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css">
    <title>{{ get("title", "upps...") }}</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="site-navigation">
        <ul class="site-navigation__list">
          <li class="site-navigation__item">
            <a class="site-navigation__link" href="/">Home</a>
          </li>
          <li class="site-navigation__item">
            <a class="site-navigation__link" href="/items">Items</a>
          </li>
          <li class="site-navigation__item">
            <a class="site-navigation__link" href="/signup">Signup</a>
          </li>
          <li class="site-navigation__item">
            <a class="site-navigation__link" href="/users">Users</a>
          </li>
          <li class="site-navigation__item">
            <a class="site-navigation__link" href="/login">Login</a>
          </li>
        </ul>
      </nav>
    </header>
