% include("header", title="Signup")

<main>
  <h1>Signup</h1>

  <form class="form" action="/signup" method="post">
    <label class="form__field" for="user_email">
      <span>Email</span>
      <input type="email" name="user_email" id="user_email" placeholder="Enter your e-mail">
    </label>
    <label for="user_name" class="form__field">
      <span>Username</span>
      <input type="text" name="user_name" id="user_name" placeholder="Enter your username">
    </label>
    <button type="submit">Signup</button>
  </form>
</main>

% include("footer")